{% extends "base.html" %}
{% set active_page = "Signin" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    <div class="container mx-auto col-3 position-absolute top-50 start-50 translate-middle">
        <div class="card">
            <div class="card-header text-warning bg-dark">
                ID: {{user.id}}.
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">Name: {{user.name}}.</li>
                <li class="list-group-item text-primary">Email: {{user.email}}.</li>
                <li class="list-group-item text-danger">Active: 
                    {% if not user.is_active %}
                        No.
                    {% else %}
                        {{user.is_active}}.
                    {% endif %}
                </li>
                <li class="list-group-item text-danger">Access: 
                    {% if not user.access %}
                        No.
                    {% else %}
                        {{user.access}}.
                    {% endif %}
                </li>
                <li class="list-group-item text-danger">Admin: 
                    {% if not user.is_admin %}
                        No.
                    {% else %}
                        {{user.is_admin}}.
                    {% endif %}
                </li>
                <li class="list-group-item">Registered: {{user.registered_at.strftime('%d-%m-%Y %H:%M:%S')}}.</li>
                <li class="list-group-item text-end"> 
                    <a class="btn btn-secondary" role="button" href="{{url_for('pass_change_get')}}">Смена пароля</a>
                </li>
            </ul>
            </div>
    </div>

{% endblock %}