{% extends "base.html" %}
{% set active_page = "Signup" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}

<div class="container col-3 position-absolute top-50 start-50 translate-middle">

    <form method="post">
        {% if get_flashed_messages %}
            <div class="mb-3">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="inputPassword" class="form-label text-primary">Новый пароль:</label>
            <input type="password" id="inputPassword" class="form-control" aria-labelledby="passwordHelpBlock" name="password">

            <label for="inputPassword2" class="form-label text-primary">Новый пароль повторно:</label>
            <input type="password" id="inputPassword2" class="form-control" aria-labelledby="passwordHelpBlock" name="password2">
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Применить</button> 
        </div> 

    </form>
</div>

{% endblock %}