{% extends "base.html" %}
{% set active_page = "Signin" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}

<div class="container col-3 position-absolute top-50 start-50 translate-middle">

    <form method="post">
        {% if get_flashed_messages %}
            <div class="mb-3">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="email" class="form-label text-danger">
                Для сброса пароля, введите почту от свой учетной записи:
            </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Применить</button> 
        </div> 

    </form>
</div>

{% endblock %}