{% extends "base.html" %}
{% set active_page = "Signin" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}

<div class="container col-3 position-absolute top-50 start-50 translate-middle">

    <form method="post">

        {% if get_flashed_messages %}
            <div class="mb-3">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        {% endif %}


        <div class="mb-3">

            <label for="exampleFormControlInput1" class="form-label text-primary">Почта:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" value="{{ email }}">

            <label for="inputPassword5" class="form-label text-primary">Пароль:</label>
            <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="password" value="{{ password }}">
        </div>

        <div class="d-flex justify-content-end">
            <div class="px-2">
                <a class="btn btn-secondary" role="button" href="{{url_for('pass_reset_get')}}">Забыли пароль?</a>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Вход</button>
            </div> 
        </div> 

    </form>
</div>

{% endblock %}