<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ZSTTK Access Control">
    <meta name="author" content="NicKSarD">
    <link href="{{ url_for('static', path='/bootstrap_530/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/main/main.ico') }}" type="image/png">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index_get')}}">ЗСТТК</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if user and user.is_active %}
                        {% if user.is_admin or 'warehouse_view' in user.access %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{'active' if active_page == 'Warehouse'}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Склад
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{url_for('warehouse_main_get')}}">Склад</a></li>
                                    <li><a class="dropdown-item" href="{{url_for('warehouse_all_get')}}">Склад все</a></li>
                                    {% if user.is_admin or 'warehouse_crud' in user.access %}
                                        <li><a class="dropdown-item" href="{{url_for('warehouse_new_get')}}">Добавить на склад</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {{'active' if active_page == 'About'}}" aria-current="page" href="{{url_for('about_get')}}">О сайте</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if not user %}
                        <li class="nav-item">
                            <a class="nav-link {{'active' if active_page == 'Signin' }}" aria-current="page" href="{{url_for('signin_get')}}">Вход</a>
                        </li>

                        <li class="nav-item">
                            <b class="nav-link" aria-current="page">|</b>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{'active' if active_page == 'Signup' }}" aria-current="page" href="{{url_for('signup_get')}}">Регистрация</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('read_user_me')}}">{{user.name}}</a>
                        </li>

                        <li class="nav-item">
                            <b class="nav-link" aria-current="page">|</b>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('logout')}}">Выход</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    {% block body %}
    {% endblock %}


    {% block body_down %}

        {% if paginate and paginate.total_pages > 1 %}

            {% if paginate.page_number > 0 %}
                <p class="text-center text-primary"> Страница: {{paginate.page_number}} из {{ paginate.total_pages}} </p>
            {% endif %}

            <nav class="Page navigation example">
                <ul class="pagination  justify-content-center">
                    {% if paginate.page_number != 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1&size={{paginate.page_size}}"><span aria-hidden="true">&laquo;&laquo</span></a>
                        </li>
                        
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href=""><span aria-hidden="true">&laquo;&laquo</span></a>
                        </li>
                    {% endif %}


                    {% for p in range(paginate.total_pages) %}

                        {% set p = p +1 %}
                        
                        {% if paginate.page_number == p %} 
                            <li class="page-item active"><a class="page-link" href="?page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>

                        {% elif p >= paginate.page_number +1 and p <= paginate.page_number +2 %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>

                        {% elif p <= paginate.page_number -1 and p >= paginate.page_number -2 %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>

                        {% endif %}
                    {% endfor %}

                    {% if paginate.page_number != paginate.total_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginate.total_pages }}&size={{paginate.page_size}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>

                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>

                    {% endif %}
                </ul>

            </nav>
        {% endif %}

    {% endblock %}

    <script src="{{ url_for('static', path='bootstrap_530/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>